___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
   
    words = text.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [7]:
#more efficient way

def animal_crackers(text):
    
    #put string in lower case to make function case insensitive
    words = text.lower().split()
    
    return words[0][0] == words[1][0]

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [10]:
animal_crackers('Crazy cats')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [20]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [11]:
#more efficient wat

def makes_twenty(n1,n2):
    
    return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [12]:
# Check
makes_twenty(20,10)

True

In [13]:
# Check
makes_twenty(2,3)

False

In [23]:
makes_twenty(12,8)

True

In [14]:
makes_twenty(20,0)

True

In [15]:
makes_twenty(5,5)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [42]:
def old_macdonald(name):
    
    new_name = ''
    for x in range(len(name)):
        if x == 0:
            new_name = new_name + name[x].upper()
        elif x == 3:
            new_name = new_name + name[x].upper()
        else:
            new_name = new_name + name[x].lower()
        
    return new_name

In [16]:
#revised version without "lower" function in else statement

def old_macdonald(name):
    
    new_name = ''
    for x in range(len(name)):
        if x == 0:
            new_name = new_name + name[x].upper()
        elif x == 3:
            new_name = new_name + name[x].upper()
        else:
            new_name = new_name + name[x]
        
    return new_name

In [20]:
#more efficient way using "capitalize" function

def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [21]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [22]:
old_macdonald('ronaghy')

'RonAghy'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [45]:
def master_yoda(text):
    
    text = text.split()
    text = ' '.join(text[::-1])
    
    return text

In [46]:
# Check
master_yoda('I am home')

'home am I'

In [47]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [48]:
def almost_there(n):
    
    if abs(n - 100) <= 10:
        return True
    elif abs(n - 200) <= 10:
        return True
    else:
        return False

In [23]:
#more efficient way

def almost_there(n):
    
    return (abs(n - 100) <= 10) or (abs(n - 200) <= 10)

In [24]:
# Check
almost_there(104)

True

In [25]:
# Check
almost_there(150)

False

In [26]:
# Check
almost_there(209)

True

In [27]:
almost_there(90)

True

In [28]:
almost_there(85)

False

In [29]:
almost_there(199)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [55]:
def has_33(nums):
    
    x = nums.index(3)
    if nums[x+1] == 3:
        return True
    else:
        return False

In [31]:
#more efficient way

def has_33(nums):
    
    x = nums.index(3)
    return nums[x+1] == 3

In [40]:
#using a for loop

def has_33(nums):
    
    #use for loop that iterates all the way to second to last index to prevent error due to nums[i+1] in 
    #if statement
    for i in range(0, len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
            
    return False

In [45]:
#alternative way of using a for loop

def has_33(nums):
    
    #use for loop that iterates all the way to second to last index to prevent error due to nums[i+1] in 
    #if statement
    for i in range(0, len(nums) - 1):
        if nums[i:i+2] == [3,3]:
            return True
            
    return False

In [46]:
# Check
has_33([1, 3, 3])

True

In [47]:
# Check
has_33([1, 3, 1, 3])

False

In [43]:
# Check
has_33([3, 1, 3])

False

In [48]:
has_33([1, 2, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [63]:
def paper_doll(text):
    
    new_string = ''
    for x in range(len(text)):
        new_string = new_string + text[x] * 3
    
    return new_string

In [53]:
#easier way

def paper_doll(text):
    
    new_string = ''
    
    for letter in text:
        new_string += letter * 3
    
    return new_string

In [54]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [55]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [66]:
def blackjack(a,b,c):
    
    #can also just sum a list of numbers directly (e.g., sum([a,b,c]))
    cards = [a,b,c]
    
    if sum(cards) <= 21:
        return sum(cards)
    elif sum(cards) > 21 and 11 in cards:
        return sum(cards) - 10
    else:
        return 'BUST'

In [67]:
# Check
blackjack(5,6,7)

18

In [68]:
# Check
blackjack(9,9,9)

'BUST'

In [69]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [61]:
#this works for only one pair of 6 and 9; need to use loops to catch any additional pairs

def summer_69(arr):
    
    if 6 and 9 in arr:
        x = arr[arr.index(6):arr.index(9)+1]
        print(sum(arr) - sum(x))
    else:
        print(sum(arr))

In [62]:
#does not catch second 6 and 9 pair
summer_69([1,2,3,6,7,8,9,1,2,3,6,7,8,9])

42

In [56]:
#nested loops will catch any additional pairs of 6 and 9

def summer_69(arr):
    
    total = 0
    add = True
    
    for x in arr:
        #while x is not 6
        while add: 
            if x != 6:
                #add x to total
                total += x
                break
            else:
                add = False
        #once x has reached 6
        while not add:
            #until x reaches 9
            if x != 9:
                #do not add number to total
                break
            #once x reaches 9
            else:
                #start adding each instance of x to total once more
                add = True
                break
    
    return total

In [60]:
summer_69([1,2,3,6,7,8,9,1,2,3,6,7,8,9])

12

In [57]:
# Check
summer_69([1, 3, 5])

9

In [58]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [59]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [60]:
#second '69' pair is detected
summer_69([1,2,3,6,7,8,9,1,2,3,6,7,8,9])

12

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [70]:
#does not catch all instances of '007' -- e.g., if there are three 0's before the 7

def spy_game(nums):    
    
    spylist = []

    for x in range(len(nums)):
        if nums[x] == 0:
            spylist.append(0)
        elif nums[x] == 7:
            spylist.append(7)
        else:
            continue
     
    return spylist[::] == [0,0,7]

In [71]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [51]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [63]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [64]:
spy_game([1,0,7,2,0,4,5,0])

False

In [65]:
#'007' not caught in this case
spy_game([0,0,0,7])

False

In [74]:
#using "pop" function ensures any '007' sequence would be detected regardless of number of 0's before 7

def spy_game(nums):   
    
    code = [0,0,7,'x']
    
    for x in nums:
        #when first 0 is encountered, it gets deleted from "code" list
        #when second 0 is encountered, it gets deleted from "code" list
        #when 7 is encountered, it gets deleted from "code" list
        #does not matter how many 0's there are since third instance of 0 would not match new code[0] (i.e., 7)
        #only 'x' would remain in the end, resulting in len == 1
        if x == code[0]:
            code.pop(0)
        
    return len(code) == 1

In [75]:
#'007' not caught in this case
spy_game([0,0,0,7])

True

In [76]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [77]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [78]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [79]:
spy_game([1,0,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [88]:
def count_primes(num):
    
    count = 0
    
    for x in range(2, num + 1):
        if all(x % i != 0 for i in range(2, x)):
            count = count + 1
            print(x)
    
    return f'Total count is {count}.'

In [89]:
# Check
count_primes(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

'Total count is 25.'

In [90]:
count_primes(1000)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

'Total count is 168.'

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!