# Company Manager

Create an hierarchy of classes - abstract class Employee and subclasses HourlyEmployee, SalariedEmployee, Manager and Executive. Every one's pay is calculated differently, research a bit about it. After you've established an employee hierarchy, create a Company class that allows you to manage the employees. You should be able to hire, fire and raise employees.

In [2]:
# Create base Employee class to serve as interface for all employee category subclasses
class Employee:
    
    def __init__(self,name,ID):

        self.name = name
        self.ID = ID

# Create Salaried Employee subclass that inherits from base Employee class
# Serves as interface to Manager and Executive subclasses
class SalariedEmployee(Employee):  
  
    # Add category and salary attributes with default values
    def __init__(self,name,ID,category="Salaried Employee",salary = 80000):
        
        super().__init__(name,ID)
        self.category = category 
        self.salary = salary
        
# Create Hourly Employee subclass that inherits from base Employee class
class HourlyEmployee(Employee):  
    
    # Add category, pay rate and hours worked attributes with default values
    def __init__(self,name,ID,category="Hourly Employee",rate = 50, hours_worked = 2000):
        
        super().__init__(name,ID)
        self.category = category 
        self.rate = rate
        self.hours_worked = hours_worked

# Create Manager subclass that inherits from Salaried Employee subclass       
class Manager(SalariedEmployee):  
  
    # Inherit all attributes from Salaried Employee but with different default values
    def __init__(self,name,ID,category="Manager",salary = 120000):        
        
        super().__init__(name,ID,category,salary)

# Create Manager subclass that inherits from Salaried Employee subclass       
class Executive(SalariedEmployee):  
  
    # Inherit all attributes from Salaried Employee but with different default values
    def __init__(self,name,ID,category="Executive",salary = 200000):        
        
        super().__init__(name,ID,category,salary)

In [60]:
# Create Company class to manage employees
class Company:
   
    # Include employee database as an attribute to store employee data
    def __init__(self, company_name):

        self.company_name = company_name
        self.employee_db = []

    # Method to hire employee in any of the salaried categories
    def hire_employee(self,name,ID,category):
        
        # If employee name or ID are already in company DB, display error message        
        if name in [record["name"] for record in self.employee_db]:
            print("This name already exists in the company database")
        
        elif ID in [record["id"] for record in self.employee_db]:
            print("This ID already exists in the company database")
        
        # Else add new employee record to company DB using method for selected category
        else:
            
            if "salaried" in category.lower():
            
                # Create new Salaried Employee object with name and ID as attributes
                new_employee = SalariedEmployee(name,ID)
                
                # Display confirmation message 
                print(f"\nNew employee added: \n{' '} \nName: {new_employee.name} \nID: {new_employee.ID} \nCategory: {new_employee.category} \nIncome: {new_employee.salary}")

                # Add new employee's data to company DB
                return self.employee_db.append({"id": new_employee.ID, "name": new_employee.name, 
                                           "category": new_employee.category, "income": new_employee.salary})

            elif "hourly" in category.lower():
            
                # Create new Hourly Employee object with name and ID as attributes
                new_employee = HourlyEmployee(name,ID)

                # Display confirmation message 
                print(f"\nNew employee added: \n{' '} \nName: {new_employee.name} \nID: {new_employee.ID} \nCategory: {new_employee.category} \nIncome: {new_employee.rate * new_employee.hours_worked}")

                # Add new employee's data to company DB
                return self.employee_db.append({"id": new_employee.ID, "name": new_employee.name, 
                                                "category": new_employee.category, 
                                                "income": new_employee.rate * new_employee.hours_worked})   
            
            elif "manager" in category.lower():
            
                # Create new Salaried Employee object with name and ID as attributes
                new_employee = Manager(name,ID)
                
                # Display confirmation message 
                print(f"\nNew employee added: \n{' '} \nName: {new_employee.name} \nID: {new_employee.ID} \nCategory: {new_employee.category} \nIncome: {new_employee.salary}")

                # Add new employee's data to company DB
                return self.employee_db.append({"id": new_employee.ID, "name": new_employee.name, 
                                           "category": new_employee.category, "income": new_employee.salary})                
           
            elif "executive" in category.lower():
            
                # Create new Salaried Employee object with name and ID as attributes
                new_employee = Executive(name,ID)
                
                # Display confirmation message 
                print(f"\nNew employee added: \n{' '} \nName: {new_employee.name} \nID: {new_employee.ID} \nCategory: {new_employee.category} \nIncome: {new_employee.salary}")

                # Add new employee's data to company DB
                return self.employee_db.append({"id": new_employee.ID, "name": new_employee.name, 
                                           "category": new_employee.category, "income": new_employee.salary})
            
            else:
                print("Please enter a valid category.")
    
    # Method to remove a fired or resigned employee from the company DB
    def remove_employee(self,name):       
               
        # Display error message if employee is not in DB
        if name not in [record["name"] for record in self.employee_db]:
            print("No record for this employee in the company database.") 

        else:

            # Use list comprehension to update company DB to exclude record with given name
            self.employee_db = [record for record in self.employee_db if record["name"] != name]
            print(f"{name} has been removed from the company database.")


   # Method to raise salaried employee's salary 
    def raise_salary(self,name,salary):
        
        # Display error message if employee is not in DB
        if name not in [record["name"] for record in self.employee_db]:
            print("No record for this employee in the company database.") 

        else:            
            
            # Else search for index of record containing employee's name in DB
            for i in range(len(self.employee_db)):

                # If record contains employee's name, update record containing that name
                if self.employee_db[i]["name"] == name:
                    self.employee_db[i]["income"] = salary
                    print(f"{name}'s salary has been updated to {salary}")
                    
           
   # Method to change hourly employee's rate or hours
    def adjust_hourly(self,name,rate,hours_worked):
        
        # Display error message if employee is not in DB
        if name not in [record["name"] for record in self.employee_db]:
            print("No record for this employee in the company database.") 

        else:            
            
            # Else search for index of record containing employee's name in DB
            for i in range(len(self.employee_db)):

                # If record contains employee's name, update record containing that name
                if self.employee_db[i]["name"] == name:
                    self.employee_db[i]["income"] = rate * hours_worked
                    print(f"{name}'s hourly rate is {rate} and annual work hours is {hours_worked}")
                    print(f"{name}'s annual income will be {rate * hours_worked}")
                    
    # Method to change employee's category 
    def change_category(self,name,category):
        
        # Display error message if employee is not in DB
        if name not in [record["name"] for record in self.employee_db]:
            print("No record for this employee in the company database.") 

        else:            
            
            # Else search for index of record containing employee's name in DB
            for i in range(len(self.employee_db)):

                # If record contains employee's name, update record containing that name
                if self.employee_db[i]["name"] == name:
                    self.employee_db[i]["category"] = category
                    print(f"{name}'s category has been updated to {category}")

In [61]:
ar_inc = Company("AR Inc")

In [62]:
ar_inc.hire_employee("Jon Lovitz",1,"salaried")

New employee added:

Name: Jon Lovitz
ID: 1
Category: Salaried Employee
Income: 80000

In [63]:
ar_inc.hire_employee("Steve Bannon",2,"manager")

New employee added:

Name: Steve Bannon
ID: 2
Category: Manager
Income: 120000

In [64]:
ar_inc.hire_employee("Stephen Miller",3,"hourly")

New employee added:

Name: Stephen Miller
ID: 3
Category: Hourly Employee
Income: 100000

In [65]:
ar_inc.hire_employee("Kevin Connelly",4,"exec")

Please enter a valid category.

In [66]:
ar_inc.hire_employee("Kevin Connelly",4,"executive")

New employee added:

Name: Kevin Connelly
ID: 4
Category: Executive
Income: 200000

In [67]:
ar_inc.hire_employee("Kevin Connelly",5,"executive")

This name already exists in the company database

In [68]:
ar_inc.hire_employee("Kevin Spacey",5,"salaried")

New employee added:

Name: Kevin Spacey
ID: 5
Category: Salaried Employee
Income: 80000

In [69]:
ar_inc.hire_employee("Rudy Giuliani",5,"salaried")

This ID already exists in the company database

In [70]:
ar_inc.hire_employee("Rudy Giuliani",6,"salaried")

New employee added:

Name: Rudy Giuliani
ID: 6
Category: Salaried Employee
Income: 80000

In [71]:
ar_inc.employee_db

[{'id': 1,
  'name': 'Jon Lovitz',
  'category': 'Salaried Employee',
  'income': 80000},
 {'id': 2, 'name': 'Steve Bannon', 'category': 'Manager', 'income': 120000},
 {'id': 3,
  'name': 'Stephen Miller',
  'category': 'Hourly Employee',
  'income': 100000},
 {'id': 4,
  'name': 'Kevin Connelly',
  'category': 'Executive',
  'income': 200000},
 {'id': 5,
  'name': 'Kevin Spacey',
  'category': 'Salaried Employee',
  'income': 80000},
 {'id': 6,
  'name': 'Rudy Giuliani',
  'category': 'Salaried Employee',
  'income': 80000}]

In [72]:
ar_inc.raise_salary("Jon Lovitz",90000)

Jon Lovitz's salary has been updated to 90000

In [73]:
ar_inc.adjust_hourly("Stephen Miller",60,2000)

Stephen Miller's hourly rate is 60 and annual work hours is 2000
Stephen Miller's annual income will be 120000

In [74]:
ar_inc.employee_db

[{'id': 1,
  'name': 'Jon Lovitz',
  'category': 'Salaried Employee',
  'income': 90000},
 {'id': 2, 'name': 'Steve Bannon', 'category': 'Manager', 'income': 120000},
 {'id': 3,
  'name': 'Stephen Miller',
  'category': 'Hourly Employee',
  'income': 120000},
 {'id': 4,
  'name': 'Kevin Connelly',
  'category': 'Executive',
  'income': 200000},
 {'id': 5,
  'name': 'Kevin Spacey',
  'category': 'Salaried Employee',
  'income': 80000},
 {'id': 6,
  'name': 'Rudy Giuliani',
  'category': 'Salaried Employee',
  'income': 80000}]

In [75]:
ar_inc.remove_employee("Rody Giuliany")

No record for this employee in the company database.

In [76]:
ar_inc.remove_employee("Rudy Giuliani")

Rudy Giuliani has been removed from the company database.

In [77]:
ar_inc.employee_db

[{'id': 1,
  'name': 'Jon Lovitz',
  'category': 'Salaried Employee',
  'income': 90000},
 {'id': 2, 'name': 'Steve Bannon', 'category': 'Manager', 'income': 120000},
 {'id': 3,
  'name': 'Stephen Miller',
  'category': 'Hourly Employee',
  'income': 120000},
 {'id': 4,
  'name': 'Kevin Connelly',
  'category': 'Executive',
  'income': 200000},
 {'id': 5,
  'name': 'Kevin Spacey',
  'category': 'Salaried Employee',
  'income': 80000}]

In [78]:
ar_inc.raise_salary("Micky Mouse",100000)

No record for this employee in the company database.

In [79]:
ar_inc.adjust_hourly("Stephen Miller",60,1000)

Stephen Miller's hourly rate is 60 and annual work hours is 1000
Stephen Miller's annual income will be 60000

In [80]:
ar_inc.employee_db

[{'id': 1,
  'name': 'Jon Lovitz',
  'category': 'Salaried Employee',
  'income': 90000},
 {'id': 2, 'name': 'Steve Bannon', 'category': 'Manager', 'income': 120000},
 {'id': 3,
  'name': 'Stephen Miller',
  'category': 'Hourly Employee',
  'income': 60000},
 {'id': 4,
  'name': 'Kevin Connelly',
  'category': 'Executive',
  'income': 200000},
 {'id': 5,
  'name': 'Kevin Spacey',
  'category': 'Salaried Employee',
  'income': 80000}]

In [82]:
ar_inc.change_category("Jon Lovitz","Manager")

Jon Lovitz's category has been updated to Manager

In [83]:
ar_inc.employee_db

[{'id': 1, 'name': 'Jon Lovitz', 'category': 'Manager', 'income': 90000},
 {'id': 2, 'name': 'Steve Bannon', 'category': 'Manager', 'income': 120000},
 {'id': 3,
  'name': 'Stephen Miller',
  'category': 'Hourly Employee',
  'income': 60000},
 {'id': 4,
  'name': 'Kevin Connelly',
  'category': 'Executive',
  'income': 200000},
 {'id': 5,
  'name': 'Kevin Spacey',
  'category': 'Salaried Employee',
  'income': 80000}]